.socialMediaIcon{
    color: #20303c;
}

.socialMediaIcons{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem 1rem 0rem;
    gap: .5rem;
}